.board-columns {
    display: flex;
    padding: 0;
}

.board-column {
    background: #0F151B;
    border-radius: 20px;
    padding: 5px 20px 10px 20px;
    margin: 10px;
    width: 226px;
    min-height: 93vh;
}

.board-column h1 {
    font-size: 28px;
    font-weight: 700;
}

.add-column-button {
    font-family: Inter, sans-serif;
    align-self: flex-start;
    background: #122B45;
    color: white;
    border-radius: 8px;
    padding: 7px;
    width: 226px;
    font-size: 14px;
    font-weight: 200;
    margin-top: 10px;
}

.add-column-button:hover {
    background-color: #10263d;
}