.board-columns {
    display: flex;
    padding: 0;
}

.board-column {
    background: #0F151B;
    border-radius: 20px;
    padding: 5px 20px 10px 20px;
    margin: 10px;
    min-width: 220px;
    min-height: 94vh;
}

.status-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.status-title.done {
    border-bottom: 2px solid #83cf83;
}

.status-title.rejected {
    border-bottom: 2px solid #bc5656;
}

.column-add-task-btn {
    background-color: #122B454D;
    border-radius: 8px;
    padding: 8px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 100;
    width: 100%;
    cursor: pointer;
}

.column-add-task-btn:hover {
    background-color: rgba(30, 64, 99, 0.3);

}

.add-column-button {
    font-family: Inter, sans-serif;
    align-self: flex-start;
    background: #122B45;
    color: white;
    border-radius: 8px;
    padding: 7px;
    width: 226px;
    font-size: 14px;
    font-weight: 200;
    margin-top: 10px;
}

.add-column-button:hover {
    background-color: #10263d;
}
