.navigation {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 15px;
}

.navigation button {
    color: white;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 300;
    background: none;
    border-radius: 18px;
    padding: 10px 12px;
    gap: 12px;
    text-align: left;
}
.navigation button:hover {
    background-color: #122B45;
    border: none;
}

.navigation button.active {
    background-color: #122B45;
}